img.toplogo {
    max-height: 8em;
    float:left;
    left: -1em; 
    margin-right: 1em;
}


img.bottomlogo {
    max-height: 4em;
    float:right; 
} 

th, td {
padding: 6px 13px;
border: 1px solid #ddd;
}

th {
font-weight: bold;
}